.temp-box {
    width: 60%;
    margin-left: 15%;
    margin-right: -4.2%;
    border-radius: 50px 0 0 50px;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    color: #fff;
    padding: 1em;
    padding-top: 30px;
    box-shadow:  1px 1px 5px #0b0b0b,
             -1px -2px 3px #0000006f;

  }
  @media (max-width: 1700px) {
    .temp-box {
      width: 20%;
    }
  }
  @media (max-width: 615px) {
    .temp-box {
      width: 100%;
      margin-top: 1em;
      padding: 0;
    }
    .othersBody {
      padding: 1em;
    }
  }
  .others h3 {
    width: 97%;
    margin: auto;
    margin-bottom: 1em;
  }
  .bigBox {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 615px) {
    .bigBox {
      width: 100%;
    }
  }
  .temp {
    width: 100%;
    height: 17em;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    background-size: 0%;
    box-shadow:  1px 1px 5px #0b0b0b,
             -1px -2px 3px #0000006f;
    /* opacity: 0.75; */
  }
  @media (max-width: 1400px) {
    .temp{
      width: 27%;
    }
  }
  /* ----- temp ---- */
  
  .chart {
    width: 85%;
    margin: 20px 10px 0 20px;
    display: flex;
    height: 5em;
    justify-content: space-between;
  }
  
  .chart .bar {
    border-radius: 50px;
    margin-top: 6em;
    transform: translateY(-100%);
    flex-direction: column;
    width: 5px;
    background-color: rgb(130, 130, 130);
  }
  .chart .bar:nth-child(10) {
    background-color: rgb(0, 155, 252);
  }
  .chart .bar:nth-child(9) {
    background-color: rgba(0, 155, 252, 0.546);
  }
  .chart .bar:nth-child(8) {
    background-color: rgba(0, 155, 252, 0.273);
  }
  .chart .bar:nth-child(11) {
    background-color: rgba(0, 155, 252, 0.546);
  }
  .chart .bar:nth-child(12) {
    background-color: rgba(0, 155, 252, 0.273);
  }
  .curentTemp {
    width: 100%;
    margin: auto;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }
  .tempNow p {
    font-weight: 600;
  }
  .tempNow .tempValue {
    display: inline-flex;
    margin-top: 0.2em;
    font-size: 2.5rem;
  }
  @media (max-width: 1500px) {
    .tempNow .tempValue {
      font-size: 1.6rem;
    }
  }
  .tempValue span {
    font-weight: 200;
  }
  .minmaxtemp p {
    margin-top: 1em;
  }

  /* ----- bottom part ----- */
  .smallBox {
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
  }
  .feelslike{
    width: 95%;
    height: 3em;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    background-size: 0%;
    box-shadow:  1px 1px 4px #0b0b0b,
    -1px -3px 4px #0000006f;
    padding-bottom: 2.3em;
  }
  @media (max-width: 1400px) {
    .feelslike{
      width: 27%;
    }
  }
  .smallBox .flexBox {
    width: 97%;
    display: flex;
    margin: auto;
    margin-top: 0.5em;
    justify-content: space-between;
  }
  .feelslike .box {
    margin-bottom: -4em;
    display: flex;
  }
  .feelslike .box {
    font-size: 1.3rem;
  }
  .feelslike p {
    width: 50%;
    margin-top: -1.5em;
  }
  @media (max-width: 1550px) {
    .feelslike .box p {
      font-size: 1rem;
    }
    .humidity .flexBox .value {
      font-size: 1rem;
    }
    .visibility .flexBox .value {
      font-size: 1rem;
    }
    .humidity .flexBox .humDescription p {
      font-size: 0.9rem;
    }
    .feelslike .flexBox p {
      font-size: 0.9rem;
    }
    .visibility .visDescription {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 1250px) {
    .humidity .flexBox .value {
      font-size: 0.8rem;
    }
    .visibility .flexBox .value {
      font-size: 0.8rem;
    }
    .humidity .flexBox .humDescription p {
      font-size: 0.7rem;
    }
    .feelslike .flexBox p {
      font-size: 0.7rem;
    }
    .visibility .visDescription {
      font-size: 0.7rem;
    }
  }
  
  .humidity .flexBox .value {
    font-size: 1.3rem;
  }
  .humidity .flexBox .humDescription {
    width: 50%;
    margin-top: -2em;
  }
  
  .visibility .flexBox .value {
    font-size: 1.3rem;
  }
  .visibility .visDescription {
    width: 50%;
    margin-top: -2em;
  }
  
  @media (max-width: 615px) {
    .smallBox {
      flex-direction: column;
    }
    .feelslike,
    .humidity,
    .visibility {
      width: 90%;
      margin: auto;
      margin-top: 0.5em;
    }
    .humidity .flexBox .humDescription p {
      font-size: 0.9rem;
    }
    .feelslike .flexBox p {
      font-size: 0.9rem;
    }
    .visibility .visDescription {
      font-size: 0.9rem;
    }
  }
  