.wind-box {
    display: flex;
    width: 66%;
    margin-right: 18%;
    border-radius: 0 50px 50px 0;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    color: #fff;
    padding: 1em;
    padding: 35px 0 1px 20px;
    box-shadow:  1px 1px 5px #0b0b0b,
             -1px -2px 3px #0000006f;

  }
  @media (max-width: 1700px) {
    .wind-box {
      width: 20%;
    }
  }
  @media (max-width: 615px) {
    .wind-box {
      width: 100%;
      margin-top: 1em;
      padding: 0;
    }
    .othersBody {
      padding: 1em;
    }
  }

  .bigBox {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 615px) {
    .bigBox {
      width: 100%;
    }
  }
  .wind{
    width: 90%;
    height: 15em;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    background-size: 0%;
    box-shadow:  1px 1px 5px #0b0b0b,
             -1px -2px 3px #0000006f;
    /* opacity: 0.75; */
  }
  @media (max-width: 1400px) {

    .wind {
      width: 27%;
    }
  }
  /* ----- temp ---- */
  
  /* ----- wind ----- */
  
  .windMeter {
    margin: auto;
    width: 12em;
    height: 10em;
  }
  @media (max-width: 1400px) {
    .windMeter {
      width: 13em;
    }
  }
  .windSpeed p {
    font-size: 2.5rem;
    font-weight: 600;
  }
  /* ----- sun ----- */

  /* ----- bottom part ----- */
  .smallBox {
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
  }
 
  .humidity{
    width: 95%;
    height: 3.5em;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    background-size: 0%;
    box-shadow:  1px 1px 4px #0b0b0b,
    -1px -3px 4px #0000006f;
    padding-bottom: 2.3em;
  }
  @media (max-width: 1400px) {
    .feelslike,
    .humidity,
    .visibility {
      width: 27%;
    }
  }
  .smallBox .flexBox {
    width: 98%;
    display: flex;
    margin: auto;
    margin-top: -0.3em;
    justify-content: space-between;
  }
  .feelslike .box {
    margin-bottom: -4em;
    display: flex;
  }
  .feelslike .box {
    font-size: 1.3rem;
  }
  .feelslike p {
    width: 50%;
    margin-top: -0.5em;
  }
  @media (max-width: 1550px) {
    .feelslike .box p {
      font-size: 1rem;
    }
    .humidity .flexBox .value {
      font-size: 1rem;
    }
    .visibility .flexBox .value {
      font-size: 1rem;
    }
    .humidity .flexBox .humDescription p {
      font-size: 0.9rem;
    }
    .feelslike .flexBox p {
      font-size: 0.9rem;
    }
    .visibility .visDescription {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 1250px) {
    .humidity .flexBox .value {
      font-size: 0.8rem;
    }
    .visibility .flexBox .value {
      font-size: 0.8rem;
    }
    .humidity .flexBox .humDescription p {
      font-size: 0.7rem;
    }
    .feelslike .flexBox p {
      font-size: 0.7rem;
    }
    .visibility .visDescription {
      font-size: 0.7rem;
    }
  }
  
  .humidity .flexBox .value {
    font-size: 1.3rem;
  }
  .humidity .flexBox .humDescription {
    width: 50%;
    margin-top: -2em;
  }
  .flexBox .value {
    font-size: 1.3rem;
  }
  
  @media (max-width: 615px) {
    .smallBox {
      flex-direction: column;
    }
    .humidity {
      width: 90%;
      margin: auto;
      margin-top: 0.5em;
    }
    .humidity .flexBox .humDescription p {
      font-size: 0.9rem;
    }
    .flexBox p {
      font-size: 0.9rem;
    }
  }
  