* {
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}
body {
  background: linear-gradient(to right, #1a1c39, #545691);
  background-size: cover;
}

.App {
  width: 95%;
  display: block;
  margin: auto;
}
